/* CSS per il titolo */

#Titolo {
    text-align: center;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 4.25rem;
    font-weight: bold;
}


/* CSS per la pagina */

.col-4 {
    font-weight: bold;
}

.paginaPrincipale {
    display: block;
    background-color: white;
    /*height: 960px;*/
    border-radius: 1%;
    padding: 10px;
}

#game-img-little {
    border-radius: 10px;
    margin: 0px 15px 0px 0px;
}


/* CSS per domande */

.DomandeContainer {
    padding-bottom: 30px;
}

.domande {
    margin: auto;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.imgStyle {
    float: left;
    height: 106px;
    width: 180px;
    margin-right: 10px;
}