.layout {
    display: block;
    background-color: rgb(194, 193, 191);
    width: 100%;
    border-radius: 1%;
    padding: 13px;
    margin-right: 20pt;
}

.titolo {
    text-align: center;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
    font-weight: bold;
    height: 20%;
    margin-bottom: 10pt;
}

.formatCarattare {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    color: black;
    font-size: 120%;
    font-weight: bold;
}

@media (max-width: 520px) {
    .titolo {
        text-align: center;
        font-family: "Playfair Display", Georgia, "Times New Roman", serif;
        font-size: 1.75rem;
        font-weight: bold;
        height: 20%;
        margin-bottom: 10pt;
    }
}