.contenitorePrincipale {
    background-color: rgb(212, 211, 211);
    text-align: center;
    width: 100%;
    padding-bottom: 0.50rem;
}

#titolo {
    text-align: center;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 230%;
    font-weight: bold;
}

#intestazione {
    text-align: center;
}

.supporto {
    display: block;
    margin: auto;
    text-align: center;
}

#testo {
    height: 100pt;
}

@media (max-width: 520px) {
    #titolo {
        font-family: "Playfair Display", Georgia, "Times New Roman", serif;
        font-size: 150%;
    }
}